/* Container Styles */
.content-container {
    height: auto;
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Filter Sidebar */
.filter-container {
    width: 30%;
    padding: 20px;
}

.filter-sidebar-styling {
    padding: 15px;
}



/* Product Display Section */
.filter-product-container {
    width: 70%;
    border-left: 1px solid #ddd;
    padding: 20px;
    background-color: #ffffff;
}

h3 span {
    font-weight: 500;
}


@media (max-width: 900px) {
    .filter-container {
        display: none;
    }

    .filter-product-container {
        width: 100%;
    }
}