
.filter-price h4, .filter-gender h4, .filter-brand h4 {
    font-size: 1.2rem;
    color: #333;
}

.filter-price p {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #777;
}


/* Filter Dropdowns */
.filter-gender select, .filter-brand select {
    width: 80%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
}

.filter-gender select:hover, .filter-brand select:hover {
    border-color: #888;
}



/* Filter.css */

.filter-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 20px;
    transform: translateX(-100%); /* Initially hidden */
    transition: transform 0.3s ease-in-out;
  }
  
  .filter-sidebar.active {
    transform: translateX(0); /* Slide in when active */
  }
  
  .filter-sidebar button {
    position: absolute; /* Make the button position relative to the parent */
    top: 25px;          /* Adjust the distance from the top */
    right: 25px;         /* Adjust the distance from the left */


    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .filter-sidebar button:hover {
    background-color: #0056b3;
  }
  